body {
  font-family: "Noto Serif", "Noto Serif CJK", "Noto Serif SC", "Noto Serif TC", serif;
}
.post blockquote, .newsletter blockquote, .home blockquote {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}
code {
  font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre, code {
  font-size: .95em;
}
