/* Micro Reset */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  /* Screen version */
  /* font-family: Palatino, "Palatino Linotype", "Palatino LT STD", 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Noto Serif CJK SC', 'Songti SC', 'Microsoft YaHei', serif; */
  font-family: Georgia, STSong, serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

button, input, select, textarea, label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  border-radius: 1%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Typography */

body {
  line-height: 1.8em;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 60px 0 30px;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3, h4, h5, h6 {
  font-size: 19px;
  font-weight: bold;
  text-align: left;
}

blockquote {
  margin: 1em 0;
  padding: 0 2em;
  border-left: 3px solid #ddd;
}

/* Code */

pre, code {
  font-size: .9em;
}

pre code {
  display: block;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  line-height: 1.75;
}

code {
  background: #f9f9f9;
}

pre code {
  background: none;
}

/* Lists */

ul, ol {
  padding: 0 0 0 20px;
}

li {
  margin: 4px 0;
  padding: 0;
}

/* Links */

a {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed;
}

a:hover {
}

sup a {
  border-bottom: none;
}

/* Miscellanea */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 50px auto;
  padding: 0;
  max-width: 300px;
}

.copyright {
  text-align: center;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav-next {
  margin-left: 1em;
  text-align: right;
}

.nav-prev {
  margin-right: 1em;
}

.comments {
  margin-top: 20px;
}

/* Layout */

body {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}

.masthead {
  width: 260px;
  padding: 20px 50px 20px 10px;
  float: left;
}

.main {
  width: 780px;
  padding: 32px 10px 20px 50px;
  margin-left: 240px;
  border-left: 2px solid #000;
  min-height: calc(100vh - 60px);
}

/* Masthead */

.masthead h1 {
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0;
  text-align: right;
  font-size: 24px;
  line-height: 58px;
}

.masthead h1 a {
  border-bottom: none;
}

.masthead .tagline {
  font-style: italic;
  text-align: right;
}

.masthead .menu {
  margin-right: 20px;
  direction: rtl;
}

.masthead .menu a {
  direction: ltr;
}

.masthead .menu ul ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.masthead .menu li li::before {
  content: "•\00a\000a0\00a0"
}

#menu-check {
  display: none;
}

#menu-label {
  display: none;
}

/* Main */

.main .title h1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.title h3 {
  font-weight: normal;
  text-align: center;
}

.subtitle {
  font-size: .9em;
  color: #666;
}

/* Footnotes */

.footnotes {
  font-size: .9em;
}

/* Tables */

table {
  margin: auto;
  margin-bottom: 25px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #666;
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: #f8f8f8;
}

/**
 * Utility Styles
 */

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * -------------------------------------------------------------------------
 *  Media Queries
 * -------------------------------------------------------------------------
 *
 * The @viewport tag does the same thing as
 *
 *   <meta name="viewport" content="width=device-width">
 *
 * but in the future W3C standard way. The -ms- prefix is required for
 * IE10+ to render responsive styling in Windows 8 "snapped" views;
 * IE10+ does not honour the meta tag.
 */

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

figure {text-align: center;margin:0;}
figure figcaption {margin:0.5rem auto 1rem;width: 35%;border-top: 1px solid #bbb;font-size:0.8em;color:#bbb;padding:5px;line-height:1.8em;}
figure figcaption:before {content: "◎ ";}
figure img{max-width:100%;border-radius:0;display: inline-block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 5px;margin-inline-end: 7px;}
@media (max-width:683px) {
 figure figcaption {width: 75%;}
}

/* Tablet screens and smaller */

@media screen and (max-width: 960px) {

  body {
    width: auto;
    max-width: 700px;
  }

  .masthead {
    width: auto;
    float: none;
    padding: 20px 0 60px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid black;
  }

  .main {
    width: auto;
    padding: 40px 10px;
    margin-left: 0;
    border-left: none;
    min-height: auto;
  }

  .masthead h1 {
    text-align: center;
  }

  .masthead .tagline {
    text-align: center;
  }

  .masthead .menu {
    direction: ltr;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .masthead .menu ul {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .masthead .menu ul ul {
    margin: 0;
  }

  .masthead .menu li {
    border-bottom: 1px solid;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .masthead .menu li:first-child {
    border-top: 1px solid;
  }

  .masthead .menu li li:last-child {
    border-bottom: none;
  }

  .masthead .menu a {
    display: block;
    padding: 15px 20px;
    border-bottom: none;
  }

  .masthead .menu li li a {
    padding-left: 30px;
  }

  .masthead .menu li li::before {
    content: none;
  }

  .masthead .menu li li a::before {
    content: "•\00a0\00a0\00a0";
  }

  #menu-label {
    display: inline-block;
    padding: 0 20px;
    height: 50px;
    border: 1px solid;
    cursor: pointer;
    line-height: 50px;
    color: #333;
    font-size: 20px;
    margin-top: 10px;
  }

  #menu-label:hover, #menu-label:focus {
    border: 1px solid #888;
  }

  #menu-label .icon {
    padding-right: 8px;
    width: 30px;
  }

  #menu-check ~ label .close-icon {
    display: none;
  }

  #menu-check ~ label .open-icon {
    display: inline-block;
  }

  #menu-check:checked ~ label .close-icon {
    display: inline-block;
  }

  #menu-check:checked ~ label .open-icon {
    display: none;
  }

  #menu-check ~ ul {
    display: none;
  }

  #menu-check:checked ~ ul {
    display: block;
    margin-top: 50px;
    margin-bottom: 0;
  }
}

/* Landscape phone screens and smaller */

@media screen and (max-width: 720px) {
}

/* Portrait phone screens */

@media screen and (max-width: 480px) {

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 18px;
  }

  h3, h4, h5, h6 {
    font-size: 16px;
  }

  pre, code {
    font-size: 12px;
  }

  .masthead {
    padding-top: 0;
  }

}

.post-content a {
  color: #191919;
   padding: 2px 0 1px 0;
   text-decoration: none;
   background-image: linear-gradient(
     transparent 0%,
     transparent calc(50% - 9px),
     #ffdb00 calc(50% - 9px),
     #ffdb00 100%
   );
   transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
   background-size: 100% 200%;
   background-position: 0 0;
   word-break: break-word;
}

.post-content a:hover {
 background-image: linear-gradient(
   transparent 0%,
   transparent calc(50% - 9px),
   #ffdb00 calc(50% - 9px),
   #ffdb00 100%
 );
 background-position: 0 100%;
}

/* Photos */

.page-photos figure{max-width:80%;margin:0 auto 3rem;}
.page-photos figure img{box-shadow: 0 12px 40px rgba(0,0,0,.15);border-radius: 8px;}

/* Books */

div.book-item {
  display: flex !important;
  align-items: flex-start !important;
  margin-bottom: 20px !important;
}

div.book-item::after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

img.book-image {
  width: 150px !important;
  margin-right: 20px !important;
}

div.book-details {
  flex-grow: 1 !important;
}

h3.title, p.author {
  font-size: larger !important;
}

h3.title {
  color: #841212 !important;
  margin: 0 !important; 
}

h3.title a, .review-link a {
  color: inherit !important;
  text-decoration: none !important;
}

p.author {
  color: gray !important;
}

p.description {
  margin: 10px 0 !important;
}

/* Gallery */

.gallery-photos{width:100%;}
.gallery-photo{width:24.9%;position: relative;visibility: hidden;overflow: hidden;}
.gallery-photo.visible{visibility: visible;animation: fadeIn 2s;}
.gallery-photo img{display: block;width:100%;border-radius:0;padding:4px;animation: fadeIn 1s;cursor: pointer;transition: all .4s ease-in-out;}
.gallery-photo span.photo-title,.gallery-photo span.photo-time{background: rgba(0, 0, 0, 0.3);padding:0px 8px;font-size:0.9rem;color: #fff;display:none;animation: fadeIn 1s;}
.gallery-photo span.photo-title{position:absolute;bottom:4px;left:4px;}
.gallery-photo span.photo-time{position:absolute;top:4px;left:4px;font-size:0.8rem;}
.gallery-photo:hover span.photo-title{display:block;}
.gallery-photo:hover img{transform: scale(1.1);}
@media screen and (max-width: 1800px) {
	.gallery-photo{width:33.3%;}
}
@media screen and (max-width: 860px) {
	.gallery-photo{width:49.9%;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
   100% {opacity: 1;}
}

/* douban */
.gFnzgG,.gFnzgG *{box-sizing:border-box;}
.fIuTG{display:flex;flex-wrap:wrap;margin:0 -2%;background:0 0;line-height:100%;}
.dfdORB{width:21%;margin:0 2% 30px;padding:0;font-size:15px}
.dfdORB a{text-decoration:none}
.kMthTr{margin-top:5px;line-height:1.3;max-height:2.6rem;overflow:hidden}
.eysHZq{display:flex;-webkit-box-align:center;align-items:center;margin-top:12px;min-height:16px;line-height:1}
.HPRth{position:relative;min-height:87px;overflow:hidden;color:transparent}
.HPRth:hover{box-shadow:rgb(48 55 66 / 30%) 0 1rem 2.1rem}
.jcTaHb{display:flex;-webkit-box-align:center;align-items:center}
.lhtmRw{margin-right:1px;width:12px;height:12px;color:#fccd59}
.gaztka{margin-right:1px;width:12px;height:12px;color:#eee}
.iibjPt{margin-left:5px;color:#555;font-size:14px}
.jvCTkj{margin-bottom:10px}
.kEoOHR{display:inline-block;margin-right:15px;text-decoration:none;color:#157efb}
.dvtjjf{display:inline-block;color:#555;text-decoration:none;padding:0 5px}
.dvtjjf.active{background:rgba(85,85,85,.1)}
.hide{display:none}
.sort-by{text-align:right;margin-top:-15px}
.sort-by-item{margin-left:10px;padding:0 5px;line-height:20px}
.sort-by-item.active{background:rgba(85,85,85,.1)}
.sort-by-item svg{margin-right:5px}
.sc-hKFxyN img{max-width:100%!important;height:auto!important;display:block!important;vertical-align:middle!important}
@media(min-width:1024px){
  .lg\:col-span-6{grid-column:span 6/span 6!important}
  .lg\:col-start-2{grid-column-start:2!important}
}
@media (max-width:550px){
  .jcTaHb,.sc-bdnxRM{display:none}
}

/* twikoo*/
.twikoo{overflow: visible !important;}
.tk-extras,.tk-row.actions .tk-action-icon.__markdown,.tk-preview,.tk-content p a.at,.tk-tag.tk-tag-green{display: none !important;}
.tk-content{margin-top:0px !important;}
.tk-content span:first-child{float:left;}
.tk-content p{margin: 0;}
.tk-comment{margin-top: 17px !important;}
.tk-comments-container .tk-avatar{margin-top:10px;}
.tk-replies .tk-content span:first-child{visibility:hidden;}
.tk-replies .tk-content span:first-child a{visibility:visible !important;margin-left: -2em;}
.tk-expand{border-radius:0 0 5px 5px;position:relative;z-index:99;margin-top:-10px;padding:0 !important;}
.tk-admin{position:fixed !important;z-index:999;}
.el-button.tk-preview{border:none;}
.el-input.is-active .el-input__inner, .el-input__inner:focus,.el-textarea__inner{border-color:#ccc !important;}
.el-button--primary.is-disabled,.el-button--primary.is-disabled:active,.el-button--primary.is-disabled:focus,.el-button--primary.is-disabled:hover{color: #FFF !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.tk-action-icon svg{fill: #434a56 !important;}
.tk-comments-title .tk-icon svg{fill: #ccc !important;}
.tk-action-count{color: #434a56 !important;}
.el-loading-mask{background-color: #fff !important;}
.dark-theme .el-loading-mask{background-color: #292a2d !important;}
.dark-theme .tk-expand{background:linear-gradient(rgba(38,42,56,0),#3b3d42) !important;}
.dark-theme .el-button,.dark-theme .el-input__inner, .dark-theme .el-textarea__inner{color: silver !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark-theme .tk-meta-input .el-input .el-input-group__prepend{color: silver !important;background-color: #4a4b50 !important;border-color: #4a4b50 !important;}
.dark-theme .el-button--primary.is-disabled,.dark-theme .el-button--primary.is-disabled:active,.dark-theme .el-button--primary.is-disabled:focus,.dark-theme .el-button--primary.is-disabled:hover{color: #FFF !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark-theme .tk-action-icon svg{fill: #ccc !important;}
.dark-theme .tk-comments-title .tk-icon svg{fill: #4a4b50 !important;}
.dark-theme .tk-action-count{color: #ccc !important;}
.OwO .OwO-body {z-index: 99;}
.OwO .OwO-body .OwO-items-emoji .OwO-item{font-size:23px !important;}
.OwO .OwO-body .OwO-items-image .OwO-item{max-width: calc(20% - 10px) !important;}
.dark-theme .OwO-body{color: silver !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark-theme .OwO .OwO-body .OwO-bar{border-top: 1px solid #4a4b50 !important;}
.dark-theme .OwO .OwO-body .OwO-items .OwO-item,.dark-theme .OwO .OwO-body .OwO-bar{background:#4a4b50 !important;color: #ccc !important;}
.dark-theme .OwO .OwO-body .OwO-bar .OwO-packages li:hover,.dark-theme .OwO .OwO-body .OwO-items-image .OwO-item:hover,.dark-theme .OwO .OwO-body .OwO-bar .OwO-packages .OwO-package-active{background-color: #252627 !important;}
.post-preview{max-width:780px;height:210px;margin:1em auto;position:relative;display:flex;background:#fff;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.25);}.post-preview--meta{width:75%;padding:25px;overflow:hidden;}.post-preview--middle {line-height:28px;}.post-preview--title {font-size:18px;margin:0!important;}.post-preview--title a{text-decoration:none;}.post-preview--date{font-size:14px;color:#999;}.post-preview--excerpt{font-size:14px;line-height:1.825;}.post-preview--excerpt p{margin-bottom:0;}  .post-preview--image {height:210px!important;width:auto;float:right;border-top-right-radius: 2px!important;border-bottom-right-radius:2px!important;border-top-left-radius:0!important;border-bottom-left-radius:0!important;}
@media (max-width:550px) {.post-preview {width:95%;}.post-preview--excerpt{display:none;}.post-preview--middle {line-height:19px;}}
.rating{display:block;line-height:15px;}.rating-star{display:inline-block;width:75px;height:15px;background-repeat:no-repeat;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAClCAYAAAAUAAAYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA5xJREFUeNrs3T9rFEEcxvG7qEQIglaCICKkin9AUEtBKxU7wS61VlYivgWj70TtNFj5BqzE7qxEWwsxKIoYn4UtluFmbm8nczvzm+/BjxyuDwNzu3uXD0+46f7LC5PA45Hm+WTYw1x2LRDc0jzTXB+wqMlsaLPutz8fDFjYZHYauAz3NBvt83XNnyUWNpn1nVm3OsHmsb3EomazzZnVXKMPNcc0xzUnNKc0Rzv/77fms+Z7O3vt9b1eU7bZrNN68l5zcolX4ofmsuZXTdnmMvyi2dR86Bmcac62P6vKrnVubpc0bxYE32nOab45N8YqsvPeDfcD4SOav4HjprPuu+H5BTt9LXDMfNbdLPfT678Fx6vKupt1o/O8+R3pkOaJ5/iktqx7z/qp+aq5q/nY+fczmheaK03Gs7D5rLtZdzSvA6/Ebc2u55j57HQB0TzW7AzkjiKzny6+2hlKNE8juMNcFqKBaIZndRlCNBBNgmx7ZkE0fbLtZkE0EA1EM17WuQwhGogGooFoss6296y52cNO+J6HLJoPaFdbsvA9zGerIxrPh85eWYgGooFoDiQbuAxp0UA0EVmdWbRo+ma1WbRoIBqIZtzsnHdDWjQQDUQD0WSbde5ZS2UhmtqJJtSEiVkXooFoIJre2VATJmZdiKZ2ogk1YSb8oVMvDeUPnSAaiCaPJkzMuhANRAPRQDQpsqEmTMy6EI11oolpwkA0EA1EcyDZmCYMRAPR+LMxTZjqiCamCQPRQDQQzehNGIgGooFoIJpVZ2OaMBBN7USTqgkD0UA0EE3vbKomDERTO9GkasKYJJpUTRiIBqKBaEZvwkA0EA1EA9GkyKZqwkA01olmrCYMRAPRQDR9LkO+0QmiKbAJUyTRjNWEgWggGohm9CYMRAPRQDQQzZDsWE0YiMYC0eTYhIFoIJrKiCbHJgxEY4FocmzCZEs0OTZhIBqIpjKiybEJA9FANBANROPL5tiEgWhKIJoSmzAQDURjjGhKbMJANCUQTYlNmNGIpsQmDEQD0RgjmhKbMBANRAPR1Es0JTZhIJpciMZaEwaigWgKJBprTRiIJheisdaESUo01powEA1EUyDRWGvCQDQQDURjm2isNWEgmlURzWw2q4pZIBqIJkOiCVyGJpkFolkV0ejMMvel28mIRptl7ku3IRqIpjCimfNuaJpZIBqIBqIpm2ice5Z5ZonJupvVkMRu4JW4qXnrOWY++1+AAQBw9BJSCTeN9wAAAABJRU5ErkJggg==);overflow:hidden;}.allstar10{background-position:0px 0px;}.allstar9{background-position:0px -15px;}.allstar8{background-position:0px -30px;}.allstar7{background-position:0px -45px;}.allstar6{background-position:0px -60px;}.allstar5{background-position:0px -75px;}.allstar4{background-position:0px -90px;}.allstar3{background-position:0px -105px;}.allstar2{background-position:0px -120px;}.allstar1{background-position:0px -135px;}.allstar0{background-position:0px -150px;}.rating-average{color:#777;display:inline-block;font-size:13px;margin-left:10px;}